In [ ]:
#Question 1 
SELECT name 
FROM `Facilities` 
WHERE membercost!= 0;

In [ ]:
#Question 2
SELECT name 
FROM `Facilities` 
WHERE membercost= 0;

In [ ]:
#Question 3
SELECT facid, name, membercost, monthlymaintenance
FROM `Facilities` 
WHERE membercost!=0
AND membercost < 0.2*monthlymaintenance;

In [ ]:
#Question 4
SELECT * 
FROM `Facilities`
WHERE `facid` IN (1,5);

In [ ]:
#Question 5 
SELECT `name`, `monthlymaintenance`,
    CASE WHEN `monthlymaintenance` > 100 THEN 'expensive'
         ELSE 'cheap'
    END AS `monthlymaintenance_label`
FROM `Facilities`;

In [ ]:
#Question 6 
SELECT `firstname`, `surname`
FROM `Members`
WHERE `joindate` = (
    SELECT MAX(`joindate`)
    FROM `Members`
);

In [ ]:
#Question 7
SELECT DISTINCT f.name AS facility_name, CONCAT(m.firstname, ' ', m.surname) AS full_name 
FROM `Bookings` AS b
INNER JOIN `Facilities` AS f
	ON f.facid = b.facid 
	AND f.facid IN (0,1)
INNER JOIN `Members` AS m
	ON b.memid = m.memid 
ORDER BY full_name;

In [ ]:
#Question 8 
SELECT f.name AS facility_name, 
	CONCAT(m.firstname, ' ', m.surname) AS member_name,
    CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
         ELSE b.slots * f.membercost
    END AS cost
FROM `Bookings` AS b
INNER JOIN `Facilities` AS f
    ON b.facid = f.facid
INNER JOIN Members m
    ON b.memid = m.memid
WHERE DATE(b.starttime) = '2012-09-14'
AND (
    CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
         ELSE b.slots * f.membercost
    END
) > 30
ORDER BY cost DESC;

In [1]:
#Question 9 
SELECT
    t.facility_name,
    t.member_name,
    t.cost
FROM (
    SELECT
        f.name AS facility_name,
        CONCAT(m.firstname, ' ', m.surname) AS member_name,
        CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
             ELSE b.slots * f.membercost
        END AS cost
    FROM `Bookings` b
    JOIN `Facilities` f
        ON b.facid = f.facid
    JOIN `Members` m
        ON b.memid = m.memid
    WHERE b.starttime >= '2012-09-14 00:00:00'
      AND b.starttime <  '2012-09-15 00:00:00'
) AS t
WHERE t.cost > 30
ORDER BY t.cost DESC;